<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.example.hello"
        version="0.7.0">

  <name>Hello</name>

  <platform name="android">
    <js-module src="www/hello.js" name="hello">
        <runs />
    <clobbers target="hello" />
  </js-module>
      
    <config-file target="config.xml" parent="/*">
      <feature name="Hello">
        <param name="android-package" value="org.apache.cordova.plugin.Hello"/>
      </feature>
    </config-file>

    <source-file src="src/android/Hello.java" target-dir="src/org/apache/cordova/plugin"/>
  </platform>

</plugin>